.header-service {
  display: flex;
  height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../images/efektywne.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    width: 696px;
    margin-bottom: 30px;
  }

  &__button {
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: $themeColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    width: 200px;
    height: 50px;
  }
}
